production: &base
  gitlab:
    host: {{ .GitlabURL }}
  gitaly:
    client_path: /home/git/gitaly/bin
    token: "<%= File.read('/etc/gitlab/gitaly/gitaly_token').strip.dump[1..-2] %>"
  repositories:
    storages: # You must have at least a `default` storage path.
      default:
        path: /var/opt/gitlab/repo
        gitaly_address: tcp://{{ .Gitaly }}-0.{{ .Gitaly }}.{{ .Namespace }}:8075